<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> Student Confirmation </title>
</head>
<body>

<h3> Student Confirmation</h3>

The Student is confirmed: <span th:text="${student.firstName} + ' '+ ${student.lastName}"></span>
<br><br>
The Country is: <span th:text="${student.country}"></span>
<br><br>
Favorite Programming Language is: <span th:text="${student.favoriteLanguage}"></span>
<br><br>

<ul>
    <li th:each="tempSystem: ${student.favoriteSystems}" th:text="${tempSystem}"></li>

</ul>
<br><br>

</body>
</html>